.vscode/
dns_receiver/bin/**
!dns_receiver/bin/.gitkeep
dns_exfil_tool/bin/**
!dns_exfil_tool/bin/.gitkeep
dns_receiver/data/**
!dns_receiver/data/.gitkeep
dns_exfil_tool/config/config.toml
dns_receiver/config/.env
